* {
  box-sizing: border-box;
}
body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
}
.container {
  display: flex;
  width: 90vw;
}
.panel {
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: center;
  height: 90vh;
  border-radius: 50px;
  color: #fff;
  cursor: pointer;
  flex: 0.5;
  margin: 10px;
  position: relative;
  transition: flex 0.7s ease-in;
}
.panel h3 {
  position: absolute;
  bottom: 20px;
  left: 20px;
  margin: 0;
  font-size: 24px;
  opacity: 0;
}
.panel.active {
  flex: 4;
}
.panel.active h3 {
  opacity: 1;
  transition: opacity 0.3s ease-in 0.4s;
}

.panel-img-1 {
  background-image: url(images/14.jpg);
}

.panel-img-2 {
  background-image: url(images/2.jpg);
}
.panel-img-3 {
  background-image: url(images/38.jpg);
}
.panel-img-4 {
  background-image: url(images/46.jpg);
}
.panel-img-5 {
  background-image: url(images/7.jpg);
}
.panel-img-6 {
    background-image: url(images/2328908591_0dd4a44106_b.jpg);
  }
  .panel-img-7 {
    background-image: url(images/23952995215_38c045d836_o.jpg);
  }
  .panel-img-8 {
    background-image: url(images/d0065ba996a60c83dda3a179d635b21b.jpg);
  }
  .panel-img-9 {
    background-image: url(images/Ec5IO9OWAAIVbt1.jpg);
  }
@media (max-width: 480px) {
    .container {
        width: 100vw;
    }
    .panel:nth-last-of-type(4),
    .panel:nth-last-of-type(5) {
        display: none;
    }
}